@import '../../index';

.game {
  &__wrapper {
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__endGame {
    max-width: 600px;
    border-radius: 12px;
    background: $modal-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px;
    backdrop-filter: blur(15px);
    border-top: 2px solid #ffffff85;
    border-bottom: 2px solid #00000085;
  }

  &__startGameText {
    color: $blue-color;
    font-size: 20px;
  }

  &__endGameTitle {
    font-size: 40px;
  }

  &__endGameText {
    font-size: 20px;
    padding: 30px 0;
  }

  &__errorMessage {
    font-size: 16px;
    color: $error-text-color;
  }

  &__infoBar {
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 0px 50px;
    background: #000;
    border-radius: 0 0 40px 40px;
    backdrop-filter: blur(15px);
    border-bottom: 2px solid #00000085;
  }

  &__dayTheme {
    background: rgba(256, 256, 256, 0.2);
  }

  &__nightTheme {
    background: rgba(0, 0, 0, 0.5);
  }

  &__infoItem {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    padding: 5px;
    align-items: center;
    border-radius: 8px;
  }

  &__infoDigits {
    min-width: 30px;
  }
}
