.level1{
  &__wrapper{
    position: relative;
  }
  &__endGame{
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 72px;
  }
}
