@import '../../index';

.login {
  position: absolute;
  max-width: 390px;
  min-height: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 40px 70px;
    backdrop-filter: blur(15px);
    border-top: 2px solid #ffffff85;
    border-bottom: 2px solid #00000085;
  }

  &__dayTheme {
    background: $background-day-color;
  }

  &__nightTheme {
    background: $background-night-color;
  }

  &__title {
    color: $base-text-color;
    font-size: 22px;
    margin-bottom: 41px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: block;
      color: $base-text-color;
      font-size: 14px;
    }
  }

  &__field {
    margin-bottom: 22px;
    width: 250px;
  }

  &__error {
    position: absolute;
    color: $error-text-color;
    font-size: 16px;
    top: 10px;
  }

  &__button {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background: $blue-color;
    margin-top: 15px;

    &_wrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__link--title {
    color: $base-text-color;
    font-size: 16px;
    margin-top: 22px;
  }

  &__logo {
    margin-top: 21px;
  }

  &__link--register {
    color: $blue-color;
    font-size: 16px;
    margin-top: 22px;
  }
}
